<ion-content [fullscreen]="true" class="home-content"  color="dark"> 
   <section class="travel-section">
    <ion-grid>
      <ion-row>
        <!-- Viaje Múltiple -->
        <ion-col size="12" size-md="6">
          <ion-card button class="dark-card">
            <ion-card-header>
              <ion-icon name="map-outline" class="card-icon"></ion-icon>
              <ion-card-title>Viaje Múltiple</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Planifica múltiples paradas en un solo viaje.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Reservas de Viaje -->
        <ion-col size="12" size-md="6">
          <ion-card button  class="dark-card">
            <ion-card-header>
              <ion-icon name="calendar-outline" class="card-icon"></ion-icon>
              <ion-card-title>Reservas de Viaje</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Consulta y gestiona tus viajes programados.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>